@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes mpop {
  from {
    transform: scale(.94);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}